body{
    margin: 0;
}

.header{
    background-color: #00AD71;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.headerBtn{
    background-color: transparent;
    border: 0;
    height: 100%;
    color: white;
}

.headerBtn:hover{
    background-color: #036140;
    cursor: pointer;
}

.perfilBtn{
    background-color: grey;
    background-image: url("./img/user.png");
    border-radius: 100%;
    margin: 5px;
}

.perfilBtn:hover{
    background-color: rgb(77, 77, 77);
    cursor: pointer;
}